.stars {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.stars button {
	background: transparent;
	border: none;
	font-size: 0;
	padding: 0;
}

.stars .hoverable {
	cursor: pointer;
	transition: 0.05s;
}

button.hoverable:hover {
	scale: 1.25;
}

button.hoverable:active {
	scale: 1.15;
}

.starsContainer {
	display: flex;
	gap: 0.5rem;

	background-color: rgb(240, 240, 240);
	border-radius: 1rem;

	padding: 0rem 0.6rem;
	margin-block: 1rem;

	width: fit-content;
}

.starsContainer p {
	margin-inline: 0.5rem;
	font-size: 1rem;
	text-align: center;
	font-weight: 600;
}